body {
  background-color: aliceblue;
  header {
    #navbar {
    }
  }
  main {
    .forms {
      background-color: aquamarine;
    }
    #description {
      max-width: 100%;
      max-height: 100%;
      width: 800px;
    }
  }
  footer {
  }
}
